* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #f8f8f8;
	color: #29292e;
}

body,
input,
button,
textarea {
	font: 400 16px 'Roboto', sans-serif;
}

textarea {
	box-shadow: 0 2px 12px rgba(0, 0, 0, 0.04);
}

input:focus,
textarea:focus {
	outline: 0;

	box-shadow: 0 0 0 1.5px #835afd;
}
